.introduction
  margin-top: 20px

.introduction__features-list
  margin: 10px 0 0 40px
  list-style-type: disc

.introduction__feature
  font-size: 1rem
  line-height: 150%

.introduction__quickstart
  display: block
  color: $hover-red
  line-height: 125%
  font-size: 1.05rem
  font-weight: bold
  margin: 15px 0 0 10px
@media only screen and (max-width: 960px)
  .introduction
    margin-top: 0
