@import "../../styles/modules.sass"

.introduction
  margin-top: 20px

.introduction__features-list
  margin: 10px 0 0 40px
  list-style-type: disc

.introduction__feature
  font-size: 1.1rem
  line-height: 150%
