.main-container
  display: flex
  width: 1000px
  height: 100%
  margin: 0 auto
  font-size: 2rem

.aside
  width: 30%
  height: 100%
  padding: 40px 40px 0 20px
  
.main-content
  width: 70%
  height: 100%
  padding: 20px
