@import "../../styles/modules.sass"

.information
  margin-top: 20px

.information__description
  font-size: 1.1rem
  line-height: 150%
  margin: 10px 0 0 20px

.information__todo-list
  margin: 20px 0 20px 20px
  font-weight: 700
  font-size: 1rem

.information__todo-list--georgian
  list-style-type: georgian

.information__todo-item
  margin-left: 25px
  line-height: 140%
  font-weight: 400
  font-size: 1rem

.information__author
  font-size: 1rem
  margin-left: 20px
